<div class="row">
  <div class="col-12 col-md-4">
    <img
      class="img-thumbnail rounded"
      [src]="proyectoData.img"
      [alt]="proyectoData.nombre"
    />
    <h2>{{ proyectoData.nombre }}</h2>

    <div>
      <a target="_blank" [href]="proyectoData.url" class="btn w-100 btn-warning"
        >Visitar App</a
      >
    </div>
  </div>
  <div class="col-12 col-md-8">
    <hr>
    <p>{{ proyectoData.descripcion }}</p>
    <h2>Tecnologias</h2>
    <hr>
    <span *ngFor="let tecnologia of proyectoData.tecnologias" class="list-group-item list-group-item-action">{{tecnologia}}</span>

    <button (click)="goProyectos()" class="btn btn-info w-100 my-3">Volver a Proyectos</button>
  </div>


</div>

<pre>
  {{ proyectoData | json }}
</pre>
