{% extends './layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}

<main>

  <h1>Administrador</h1>

  <body>

    <ol>
        <l1><a href="/Comentarios">Editar Comentarios</a></li>
        <l1><a href="/Usuarios"> Usuarios</a></li>
    </ol>

    <div class="contenedor"></div>
    <div class="contenedor">

      <article class="imagenes-inicio">
        <div class="textos">
          <h3>Consultar: xxxxxx</h3>
        </div>
        <div class="textos">
          <h3>Consultar: xxxxxx</h3>
        </div>
      </article>
    
</main>
{% endblock %}