{% extends './layout.html' %}

{% block title %}
Inicio
{% endblock %}

{% block body %}
<main>

  <h1>Nuestros Productos</h1>
  <p>Mollit proident commodo ipsum elit cupidatat ad proident culpa sit excepteur do. Officia voluptate occaecat
    aliqua elit nisi. Ad reprehenderit ut exercitation Lorem cillum deserunt nisi excepteur deserunt nulla eiusmod ea
    cupidatat qui. Cillum in Lorem ad duis.

    Voluptate elit est proident do ipsum nostrud. Exercitation incididunt adipisicing nisi mollit quis sint aliqua.
    Commodo excepteur quis aute ad aliqua quis dolor exercitation eiusmod reprehenderit excepteur enim.</p>

  <div class="contenedor">

    <div class="imagenes-inicio" style="background-image:url(static/imagenes/ImagenPan.jpg)">
      <div class="textos">
        <h3>Pan de Sal</h3>
      </div>
    </div>


    <div class="imagenes-inicio" style="background-image:url(static/imagenes/empanadas.jpg)">
      <div class="textos">
        <h3>Empanadas</h3>
      </div>
    </div>


    <div class="imagenes-inicio" style="background-image:url(static/imagenes/huevos.jpg)">
      <div class="textos">
        <h3>Huevos Horneados</h3>
      </div>
    </div>

    <div class="imagenes-inicio" style="background-image:url(static/imagenes/calzone.jpg)">
      <div class="textos">
        <h3>Calzone</h3>
      </div>
    </div>

    <div class="imagenes-inicio" style="background-image:url(static/imagenes/pizza.jpg)">
      <div class="textos">
        <h3>Pizza</h3>
      </div>
    </div>

    <div class="imagenes-inicio" style="background-image:url(static/imagenes/tartara.jpg)">
      <div class="textos">
        <h3>Tartara</h3>
      </div>
    </div>

  </div>
  <div class="botones-formulario">
      <input type="submit" class="botones" value="Administrador" href="/Administrador"/>
  </div>

</main>
{% endblock %}