<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href="{{url_for('static', filename='css/layout.css')}}"/>
    <style>
       body {
          background-color: whitesmoke; animation-direction: normal;
       }

     </style>
</head>

<body>
<div>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/Busqueda">Busqueda</a></li>
            <li><a href="/Menu">Menu</a></li>
            <li><a href="/Registro">Registro</a></li>
            <li><a href="/Login">Login</a></li>
            <li><a href="/Carrito">Carrito</a></li>
        </ul>
    </nav>

    {% block body %}

    {% endblock %}

</body>

<footer>
    <div>
            <ul class="horizontal-list" aling="rigt">
                <li><a><img src="{{url_for('static', filename='imagenes/facebookicono.png')}}"  width="35" height="35" class="x-footer-social-icons facebook" align ="center"></a></li>
                <li><a><img src="{{url_for('static', filename='imagenes/instagramIco.PNG')}}"  width="35" height="35" class="x-footer-social-icons facebook" align='center'></a></li>
                <li><a><img src="{{url_for('static', filename='imagenes/whatsappIco.png')}}"  width="35" height="35" class="x-footer-social-icons facebook" align='center'></a></li>
            </ul>
    </div>
</footer>

</html>