<div class="row">
  <div *ngFor="let proyecto of data" class="col-12 col-md-4">
    <div class="card m-2" style="width: 18rem">
      <img [src]="proyecto.img" class="card-img-top p-2" [alt]="proyecto.nombre" />
      <div class="card-body">
        <h5 class="card-title">{{proyecto.nombre}}</h5>
        <a target="_blank" [href]="proyecto.url"class="btn w-100 btn-warning">Visitar App</a>
        <a [routerLink]="'informacion/'+getURI(proyecto.nombre)" class="btn w-100 btn-success my-2">Ver Detalles</a>
      </div>
    </div>
  </div>
</div>
